// $main-color: #150070;
// $color-text-white: rgb(161, 18, 18);
// nav {
//   background-color: $main-color;
// }
// body {
//   background-color: aliceblue;
// }
// .navigation {
//   color: $color-text-white;
// }

$grid-width:114rem;

$column-space: 8rem;
$row-space: 6rem;